__pycache__
venv
.vscode

/cfgs/as1/*
!/cfgs/as1/.gitkeep

/cfgs/as2/*
!/cfgs/as2/.gitkeep

/cfgs/as3/*
!/cfgs/as3/.gitkeep

/cfgs/as4/*
!/cfgs/as4/.gitkeep

/outs/as1/*
!/outs/as1/.gitkeep

/outs/as2/*
!/outs/as2/.gitkeep

/outs/as3/*
!/outs/as3/.gitkeep

/outs/as4/*
!/outs/as4/.gitkeep

dev_vis-*

*.bak.py
